<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <configSections>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
  <appSettings>
    <!--Serilog settings-->
    <add key="kafkaHostPrimary" value="http://hostname1.domain.com:9092" />
    <add key="kafkaHostSecondary" value="http://hostname1.domain.com:9092" />
</appSettings>
</configuration>
    
